<form method="post" action="/members">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for= "address">Address:</label>
    <input id="address" type="text" name="address"/>

    <label for="telephone">Telephone:</label>
    <input id="telephone" type="text" name="telephone"/>

    <label for= "email">Email:</label>
      <input id="email" type="text" name="email"/>


  <input type="submit" value="Register Member!" />
</form>
