<h1><%= @gymclasses.name %> (class)</h1>

<p>Activity: <%= @gymclasses.activity %></p>

<ul>
  <% @gymclasses.members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
</ul>
<form method="post" action="/gymclasses/<%= @gymclasses.id %>/delete"/>



  <input type="submit" value="Delete Class!" />
</form>
