<h1>Bookings</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/new">Make new booking!</a>
</p>

<ul>
  <% for session in @bookings %>
  <li>
  <p><%= booking.gymclass.name %> <%= booking.member.name %> </p>
    <p>
      <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
